# Files from various IDE's
Demo/Builds/Linux/build/*
Demo/Builds/Linux/nbproject/*
Demo/Builds/MacOSX/.idea/*
Demo/Builds/MacOSX/RecentFilesMenuTemplate.nib
Demo/Builds/MacOSX/build/*
workspace.xml

# Android temp stuff
LCDMaker/gen/*
LCDMaker/out/*
local.properties
