.DS_Store
Builds/MacOSX/Paraphrasis.xcodeproj/project.xcworkspace/
Builds/MacOSX/Paraphrasis.xcodeproj/xcuserdata/
Builds/MacOSX/build/
git-update-author.sh
Loris/Makefile
Loris/config.h
Loris/config.log
Loris/config.status
Loris/csound/.deps/
Loris/csound/Makefile
Loris/doc/Doxyfile
Loris/doc/Makefile
Loris/libtool
Loris/scripting/.deps/
Loris/scripting/Makefile
Loris/src/.deps/
Loris/src/Makefile
Loris/stamp-h1
Loris/test/.deps/
Loris/test/Makefile
Loris/utils/.deps/
Loris/utils/Makefile
